p{ 
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0px;
        margin-left: 0px;
        padding: none;
        line-height: 25px;
}
body{
    -moz-text-decoration-color: black;
    background-color: lightpink;
    background-repeat: repeat-x;
    margin-right: 300px;
    font-family: sans-seriff;
    width: 100%;

}

li{
    list-style: none;
}
h2{
    font-size: 30px;
    float:overflow;
}
body img{
    float: left;

}

body ul{
    display: inline;
    
}

form ul{
    margin-bottom: 10px;

}
label{
display: block

}
.text{
    width: 40%;
    height: 200px;
      float: left;
      margin: 0.5%;

}

.form{
width: 20%;
float: left;
text-align: left;
height: 90%;
position: relative;
bottom: 80%;
margin: 1%;
}
h3{

    text-align: center;
    
}

